[submodule "themes/hugo-theme-m10c"]
	path = themes/hugo-theme-m10c
	url = https://github.com/vaga/hugo-theme-m10c.git
[submodule "themes/hugo-texify3"]
	path = themes/hugo-texify3
	url = git@github.com:michaelneuper/hugo-texify3.git
[submodule "themes/hugo-theme-bootstrap"]
	path = themes/hugo-theme-bootstrap
	url = https://github.com/razonyang/hugo-theme-bootstrap.git
[submodule "themes/paige"]
	path = themes/paige
	url = https://github.com/willfaught/paige.git
[submodule "themes/hugo-bearcub"]
	path = themes/hugo-bearcub
	url = git@github.com:clente/hugo-bearcub.git
[submodule "themes/triple-hyde"]
	path = themes/triple-hyde
	url = https://github.com/derme302/triple-hyde.git
[submodule "themes/hugo-xterm"]
	path = themes/hugo-xterm
	url = git@github.com:manid2/hugo-xterm.git
