[submodule "themes/hugo-theme-m10c"]
	path = themes/hugo-theme-m10c
	url = https://github.com/vaga/hugo-theme-m10c.git
[submodule "themes/hugo-texify3"]
	path = themes/hugo-texify3
	url = git@github.com:michaelneuper/hugo-texify3.git
[submodule "themes/hugo-theme-bootstrap"]
	path = themes/hugo-theme-bootstrap
	url = https://github.com/razonyang/hugo-theme-bootstrap.git
[submodule "themes/paige"]
	path = themes/paige
	url = https://github.com/willfaught/paige.git
